.Container {
    max-width: 1140px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.DataPage table {
    border-collapse: collapse;

    width: 100%;

    font-size: 14px;
    margin: 20px auto;

    position: relative;

    min-height: 35px;
    max-height: 400px;
}

.DataPage tr {
    cursor: pointer;
    transition: background-color .2s linear;
}

.DataPage td, th {
    border: 1px solid black;
    padding: 5px;

}

.DataPage th {
    height: 45px;
}

.DataPage tr th:first-of-type, .DataPage tr td:first-of-type {
    min-width: 75px
}

.DataPage tr th:nth-child(2), .DataPage tr td:nth-child(2) {
    min-width: 170px
}

.DataPage tr th:nth-child(3), .DataPage tr td:nth-child(3) {
    min-width: 95px
}

.DataPage tr th:nth-child(4), .DataPage tr td:nth-child(4),
.DataPage tr th:nth-child(5), .DataPage tr td:nth-child(5),
.DataPage tr th:nth-child(6), .DataPage tr td:nth-child(6),
.DataPage tr th:nth-child(7), .DataPage tr td:nth-child(7) {
    min-width: 70px
}

.DataPage tr th:nth-child(8), .DataPage tr td:nth-child(8),
.DataPage tr th:nth-child(9), .DataPage tr td:nth-child(9),
.DataPage tr th:nth-child(10), .DataPage tr td:nth-child(10),
.DataPage tr th:nth-child(11), .DataPage tr td:nth-child(11) {
    min-width: 115px
}

.DataPage tr th:last-of-type, .DataPage tr td:last-of-type {
    min-width: 75px
}

.DataPage tbody tr:hover {
    background-color: rgba(1,1,1,0.2);
}

.ActiveTH img {
    display: block !important;
}

.DataPage th div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: relative;
}

.DataPage th img {
    display: none;
    width: 16px;
    height: 16px;
    position: absolute;
}

.SortDownIcon {
    bottom: -10px
}

.SortUpIcon {
    bottom: -15px
}